{% extends "base.html" %}
{% block title %}view memory{% endblock %}

{% block content %}
<style>
    .lgt {
        float: right;
        position: relative;
        right: 10rem;
        top: 5rem;
    }

    .amb {
        position: relative;
        text-decoration: none;
        left: 52%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .grettings {
        position: relative;
        top: 5rem;
        width: 400px;
    }
</style>



<a href="{% url 'logout' %}"><button type="button" class="btn btn-danger lgt">Logout</button></a>

<center>
    <h2 style=" position:relative; left:3rem;">

        {% if user.is_authenticated %}

        <p class="grettings"><b style="color: rgb(255, 153, 36);">{{user.first_name}}</b>'s Moments</p>
        {% endif %}

    </h2>
    {% for i in messages %}
    <p style="color: brown;">{{i}}</p> <br>
    {% endfor %}
</center>

<center style="position: relative; top:7rem; ">

    {% for x in m%}
    <p> {{x.dt}}</p>------<h4>{{x.contents}}</h4> <br><br>

    {% endfor %}

</center>

<br><br><br><br><br><br><br>
<a href="{% url 'add' %}" style="text-decoration: none;">
    <button type="button" class="btn btn-dark amb">Add Moments</button>
</a>


{% endblock %}